* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Animated gradient background */
  background: linear-gradient(-45deg, #c27059, #1c3e9c, #000000, #ffffff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
  color: #ffffff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Header */
header {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  color: #fff;
  padding: 2vh 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav {
  position: relative;
}

nav {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  padding-bottom: 0.25rem;
  transition: all 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}


/* Main Content */

/* Sections */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
}


.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: auto;
  width: auto;
  animation: popup-slide-down 0.5s ease-out;
  z-index: 1000;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  z-index: 10001;
}

.popup.active {
  opacity: 1;
}

button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

button.close:hover {
  color: #e73c7e;
}

button.close:focus {
  outline: none;
}

@keyframes popup-slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -70%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile-photo {
  max-width: 50%;
  height: auto;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#about h2 {
  text-align: center;
  color: #0c0c0c;
}